.row{
  width: 100%;
  &-2{
  width: 50%;
  float: left;
  
}

&-2i{
  width: 100%;
  
  @include medium  {
  width: 50%;
 float: right;
}
}

&-4{
  width: 25%;
  float: left;

}
&-7{
  width: 75%;
  float: left;
}
}

